{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.recipe.label }}<br>
            {{ form.recipe(cols=32, rows=4) }}<br>
            {% for error in form.recipe.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for recipe in recipes %}
        {% include '_recipe.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">&lt;</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">&gt;</a>
    {% endif %}
{% endblock %}